@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

/* :root {
  height: 100vh;
}

#root {
  height: 100vh;
}

body {
  height: 100vh;
} */

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: 1px solid gainsboro;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.editor {
  flex-grow: 1;
  /* height: 100%; */
}

footer {
  border-top: 1px solid gainsboro;
  padding: 0 25px;
}